include ../modules/_fonts
include ../modules/_sprite
include ../layout/_app-grid
include ../layout/_app-section
include /modules/ui/_index
include /modules/_search
include /modules/_fab-links

block variables

doctype html
head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
    meta(charset='UTF-8')
    title #{title}
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    meta(name='viewport' content=viewport)
    //if IE
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(property='og:title' content=title)
    meta(property='og:description' content=description)
    meta(property='og:type' content=og_type)
    meta(property='og:image' content=og_image)
    //link(rel='shortcut icon' href='./favicon.png')
    +fonts([
        ['mulish', [400, 500]],
        ['open-sans', [300, 400, 600, 700]],
        ['roboto', [300, 400, 500, 700]],
    ])
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')
    link(rel='stylesheet' href='/css/vendor.css')
    link(rel='stylesheet' href='/css/app.css')

body(hx-ext="multi-swap")
    .overlay
    +search()
    +fab-links()
    include ../global/_header.pug

    main#app
        block content

    include /modules/_app-popup
    include /modules/_cookie-popup

    include ../global/_footer.pug

    script(src='/js/app.js' defer='')
